   body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(94, 6, 6);
      text-align: center;
    }

    h1 {
        color: rgb(245, 241, 241);
    }
    section{
           background-color: rgb(255, 255, 255);
           border: 2px solid rgb(0, 0, 0);
           border-radius: 12px;
           padding: 20px;
           margin: 30px auto;
           max-width: 500px;

    }
        
   h2{
      color: rgb(128, 6, 6);

   }         

   p{
      font-size: 20px;
   
   }

   a{
       color: rgb(97, 14, 3);
       font-weight: bold;
   }